### Consigna: Quien es el usuario que más idiomas domina con un nivel de 2 o superior  (⭐)

#### Importo la libreria pandas que utilizare a lo largo del desarrollo del ejercicio.

In [1]:
import pandas as pd

Leo el archivo del cual extraeré información.

In [2]:
languages = pd.read_csv("languages.csv")
languages

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza           N

[35666 rows x 3 columns]

In [3]:
languages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35666 entries, 0 to 35665
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   babel_user   35666 non-null  int64
 1   babel_lang   35662 non-null  object
 2   babel_level  35666 non-null  object
dtypes: int64(1), object(2)
memory usage: 836.0+ KB

Como la cantidad de Count en la serie babel_lang es menor a las de las otras dos series, significa que en ella hay datos nulos que debo filtrar

In [4]:
#Verifico si mi DataFrame tiene nulos
languages.isnull().sum()

babel_user     0
babel_lang     4
babel_level    0
dtype: int64

In [5]:
#Elimino los lunes del dataFrame
languages.dropna(inplace=True)

In [6]:
#Verifico que se hayan eliminado los nuloes de mi dataFrame
languages.isnull().sum()

babel_user     0
babel_lang     0
babel_level    0
dtype: int64

In [7]:
languages.count()

babel_user     35662
babel_lang     35662
babel_level    35662
dtype: int64

In [8]:
languages.drop_duplicates()
languages.count()

babel_user     35662
babel_lang     35662
babel_level    35662
dtype: int64

In [9]:
#tengo que reemplazar la N por un numero con el replace, para luego poder castear a int.
languages = languages.replace('N', '10')
languages

       babel_user  babel_lang babel_level
0         4502458          FR           2
1         5928200          aa           0
2           46918          ab           0
3         2050449          ab           1
4         4715583         ace           0
...           ...         ...         ...
35661     2089885  zh-Hant-HK           1
35662     2089885  zh-Hant-TW           3
35663     5036533          zu           0
35664     5928200          zu           0
35665       87482         zza          10

[35662 rows x 3 columns]

In [10]:
#casteo la columna de nivel de idioma a int para luego lograr filtrar aquellos que tengan menor nivel al establecido
languages_casteado = languages.astype({'babel_level': 'int32'})
languages_casteado

       babel_user  babel_lang  babel_level
0         4502458          FR            2
1         5928200          aa            0
2           46918          ab            0
3         2050449          ab            1
4         4715583         ace            0
...           ...         ...          ...
35661     2089885  zh-Hant-HK            1
35662     2089885  zh-Hant-TW            3
35663     5036533          zu            0
35664     5928200          zu            0
35665       87482         zza           10

[35662 rows x 3 columns]

In [11]:
languages_casteado.dtypes

babel_user      int64
babel_lang     object
babel_level     int32
dtype: object

In [12]:
#genero el filtro para aquellos que tengan menor nivel al establecido
filtro_level = languages_casteado['babel_level']>=2
filtro_level

0         True
1        False
2        False
3        False
4        False
         ...
35661    False
35662     True
35663    False
35664    False
35665     True
Name: babel_level, Length: 35662, dtype: bool

In [13]:
#Aplico el filtro para solo trabajar con las personas que cumplen los requisitos
pasanFiltro = languages_casteado[filtro_level]
pasanFiltro

       babel_user  babel_lang  babel_level
0         4502458          FR            2
14         188693          af            2
15        2766138          af            2
16         832026          af            3
17         842951          af            4
...           ...         ...          ...
35658     5561040  zh-Hans-CN           10
35659     5915818  zh-Hans-CN           10
35660     2089885     zh-Hant            4
35662     2089885  zh-Hant-TW            3
35665       87482         zza           10

[26983 rows x 3 columns]

In [14]:
pasanFiltro['babel_level'].value_counts()

10    11533
2      6452
3      5850
4      2504
5       644
Name: babel_level, dtype: int64

In [15]:
pasanFiltro['babel_user'].value_counts()

3276151    29
5928200    21
5865698    17
1286925    15
4339332    15
           ..
1805973     1
1323858     1
4782835     1
188031      1
3598927     1
Name: babel_user, Length: 10780, dtype: int64

In [16]:
usuarioBuscado = pasanFiltro['babel_user'].value_counts().index[0]
usuarioBuscado

3276151

### Resultado

In [17]:
print ("El usuario que más idiomas domina con un nivel de 2 o superior es: ", usuarioBuscado)

El usuario que más idiomas domina con un nivel de 2 o superior es:  3276151