### Consigna: La antigüedad promedio de la última edición de los artículos cuyo título contenga tu apellido (si no hay, tu nombre y si tampoco hay usa Cafferata) (⭐⭐)

#### Importo la libreria pandas que utilizare a lo largo del desarrollo del ejercicio.

In [1]:
import pandas as pd
from datetime import datetime

Leo el archivo del cual extraeré información.

In [2]:
contenido =  pd.read_csv('contents.csv',\
                        usecols=['title','revision_timestamp'])

In [3]:
#Muestro el contenido
contenido

,title,revision_timestamp
0,Wikipedia:Artículos solicitados,2021-01-19T18:40:34Z
1,Andorra,2021-08-31T18:27:01Z
2,Argentina,2021-08-28T17:17:54Z
3,Geografía de Andorra,2021-08-29T17:16:00Z
4,Demografía de Andorra,2020-11-12T19:56:15Z
...,...,...
4132159,Cruz nestoriana,2021-09-01T12:06:00Z
4132160,Manifestación del orgullo gay de 1977 en Barce...,2021-09-01T11:52:28Z
4132161,Rocasaurus,2021-09-01T11:57:06Z
4132162,Medalla Conmemorativa del 50.º Aniversario de ...,2021-09-01T12:01:38Z
4132163,Fatikroy,2021-09-01T12:03:14Z

In [4]:
#Veo la información que me brinda mi dataFrame
contenido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132164 entries, 0 to 4132163
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   title               object
 1   revision_timestamp  object
dtypes: object(2)
memory usage: 63.1+ MB

In [5]:
contenido['revision_timestamp'] = pd.to_datetime(contenido['revision_timestamp'])

In [6]:
contenido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132164 entries, 0 to 4132163
Data columns (total 2 columns):
 #   Column              Dtype
---  ------              -----
 0   title               object
 1   revision_timestamp  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 63.1+ MB

In [7]:
#verifico si el dataFrame tiene nulos
contenido.isnull().sum()

title                 4
revision_timestamp    0
dtype: int64

In [8]:
#elimino los nulos de mi dataFrame
contenido.dropna(inplace=True)

In [9]:
#verifico que los nulos se hayan eliminado
contenido.isnull().sum()

title                 0
revision_timestamp    0
dtype: int64

In [10]:
contenido.head(5)

                             title        revision_timestamp
0  Wikipedia:Artículos solicitados 2021-01-19 18:40:34+00:00
1                          Andorra 2021-08-31 18:27:01+00:00
2                        Argentina 2021-08-28 17:17:54+00:00
3             Geografía de Andorra 2021-08-29 17:16:00+00:00
4            Demografía de Andorra 2020-11-12 19:56:15+00:00

El dataFrame ya esta en condiciones de ser utilizado. Procedo a resolver la consigna.

In [11]:
#Verifico que tipo de datos tiene mi dataFrame
contenido.dtypes

title                              object
revision_timestamp    datetime64[ns, UTC]
dtype: object

In [12]:
#Casteo a string la serie Title de mi dataFrame
contenido = contenido.astype({'title': 'str'})

In [13]:
#Llevo acabo el filtro
filtro = contenido['title'].str.contains('Ponti')
filtro

0          False
1          False
2          False
3          False
4          False
           ...
4132159    False
4132160    False
4132161    False
4132162    False
4132163    False
Name: title, Length: 4132160, dtype: bool

In [14]:
#Filtro segun mi restricción
filtrado=contenido[filtro]
filtrado

,title,revision_timestamp
20066,Guardia Suiza Pontificia,2021-05-16 16:50:08+00:00
27982,Universidad Pontificia de Salamanca,2021-08-01 15:47:24+00:00
29674,Estados Pontificios,2021-08-11 18:03:26+00:00
33713,Pontificia Universidad Católica de Chile,2021-08-20 16:28:39+00:00
39050,Pontificia Universidad Católica del Perú,2021-08-10 09:39:59+00:00
...,...,...
4109676,Categoría:Alumnado del Instituto de Historia d...,2021-07-12 21:07:56+00:00
4109677,Categoría:Instituto de Historia de la Pontific...,2021-07-12 21:08:12+00:00
4116500,Pontiac Phantom,2021-07-27 12:01:16+00:00
4118168,Noè Ponti,2021-08-04 09:16:25+00:00
4118550,Noe Ponti,2021-07-31 01:52:13+00:00

In [15]:
#libero espacio en la RAM del dataFrame que ya no utilizo
del contenido

In [16]:
filtrado.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887 entries, 20066 to 4118550
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   title               887 non-null    object
 1   revision_timestamp  887 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(1)
memory usage: 20.8+ KB

In [17]:
filtrado['antiguedad'] = pd.to_datetime('2021-09-29T00:00:00Z') - filtrado['revision_timestamp']

In [18]:
filtrado

,title,revision_timestamp,antiguedad
20066,Guardia Suiza Pontificia,2021-05-16 16:50:08+00:00,135 days 07:09:52
27982,Universidad Pontificia de Salamanca,2021-08-01 15:47:24+00:00,58 days 08:12:36
29674,Estados Pontificios,2021-08-11 18:03:26+00:00,48 days 05:56:34
33713,Pontificia Universidad Católica de Chile,2021-08-20 16:28:39+00:00,39 days 07:31:21
39050,Pontificia Universidad Católica del Perú,2021-08-10 09:39:59+00:00,49 days 14:20:01
...,...,...,...
4109676,Categoría:Alumnado del Instituto de Historia d...,2021-07-12 21:07:56+00:00,78 days 02:52:04
4109677,Categoría:Instituto de Historia de la Pontific...,2021-07-12 21:08:12+00:00,78 days 02:51:48
4116500,Pontiac Phantom,2021-07-27 12:01:16+00:00,63 days 11:58:44
4118168,Noè Ponti,2021-08-04 09:16:25+00:00,55 days 14:43:35
4118550,Noe Ponti,2021-07-31 01:52:13+00:00,59 days 22:07:47

In [19]:
#Calculo cual es la antigüedad promedio
antiguedadPromedio = filtrado['antiguedad'].mean()

### Resultado

In [20]:
print('La antigüedad promedio de la última edición de los artículos cuyo título contenga "Ponti" es:','\n',antiguedadPromedio)

La antigüedad promedio de la última edición de los artículos cuyo título contenga "Ponti" es:
 2196 days 04:24:34.282976320