### Consigna: Utilice los textos del contenido para realizar consultas por texto utilizando las técnicas vistas en la clase de NLP (BOW o TF-IDF) de modo que la query "retablo iglesia" devuelva alguna página acerca del retablo de alguna iglesia (⭐⭐)

Importo las librerias que utilizaré para resolver el ejercicio.

In [1]:
import pandas as pd
import nltk
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
from sklearn.neighbors import NearestNeighbors
from nltk.corpus import stopwords
import numpy as np

In [3]:
#Leere solo las columnas que me interesan para no ocupar espacio demas en la RAM
pages = pd.read_csv('contents_text_sample.csv')
pages.head(4)

    id          title                                               text
0   50  Anacardiaceae  {{Ficha de taxón\n| name = Anacardiáceas\n| im...
1   62  Antipartícula  [[Archivo:Materia antimateria.png|thumb|200px|...
2   78   Año bisiesto  '''Año bisiesto''' es una expresión que deriva...
3  127          Avena  {{otros usos|Avena sativa|la avena común}}\n{{...

In [4]:
pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206607 entries, 0 to 206606
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      206607 non-null  int64
 1   title   206607 non-null  object
 2   text    206600 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.7+ MB

In [5]:
pages.isnull().sum()

id       0
title    0
text     7
dtype: int64

In [6]:
pages.fillna('Desconocido',inplace=True)

In [7]:
pages.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 206607 entries, 0 to 206606
Data columns (total 3 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   id      206607 non-null  int64
 1   title   206607 non-null  object
 2   text    206607 non-null  object
dtypes: int64(1), object(2)
memory usage: 4.7+ MB

El dataFrame ya esta en optimas condiciones para ser utilizado

In [8]:
#guardo en una variable las stop_words españolas para trabajar con ellas
stop_words = nltk.corpus.stopwords.words('spanish')
#stop_words

In [9]:
#creo el objeto Vectorizer para buscar las palabras requeridas en los textos
vectorizer = TfidfVectorizer(lowercase=True,stop_words=stop_words,
                            max_features=10000)

In [10]:
matrix = vectorizer.fit_transform(pages['text'])

In [11]:
matrix

<206607x10000 sparse matrix of type '<class 'numpy.float64'>'
	with 18077731 stored elements in Compressed Sparse Row format>

In [12]:
#Utilizo el NearestNeighbors para buscar una pagina cercana al retablo de una iglesia
buscador = NearestNeighbors(algorithm='brute', metric='cosine')
buscador.fit(matrix)

NearestNeighbors(algorithm='brute', metric='cosine')

In [15]:
query = 'retablo iglesia'
vector = vectorizer.transform([query])
dist, indexes = buscador.kneighbors(vector, n_neighbors=10)
#for d, i in zip(dist.flatten(), indexes.flatten()):
#    print("A distancia %f el texto: %s" % (d,pages['text'].iloc[i]))

In [16]:
dist

array([[0.16444022, 0.1876069 , 0.1876069 , 0.22564526, 0.27368076,
        0.35781112, 0.44783359, 0.44783518, 0.46733587, 0.50242265]])

In [17]:
indexes

array([[193679, 132997,   5074, 114864,  50461, 140413, 176055,  82465,
          6006, 130864]], dtype=int64)

### Resultado

El resultado obtenido finalmente es el siguiente:

In [18]:
pages.iloc[indexes[0][0]]

id                                                 9357972
title    Retablo mayor de la iglesia de san millan de l...
text     #REDIRECCIÓN [[Retablo mayor de la iglesia de ...
Name: 193679, dtype: object