### Consigna: ¿Cuál es el segundo contenido con más referencias geográficas asignadas? (⭐⭐)

Importo la libreria Pandas que utilizaré para el desarrollo de mi ejercicio.

In [1]:
import pandas as pd

Leo los archivos de los que extraeré información para el desarrollo de mi ejercicio.

In [2]:
geo = pd.read_csv("geo_tags.csv",\
                      usecols= ['gt_page_id','gt_id','gt_lat','gt_lon'])

In [3]:
geo.rename(columns={'gt_page_id':'id'},inplace=True)
geo

            gt_id       id     gt_lat     gt_lon
0          158041  4328020  41.507500  -5.817500
1         5844377  4670424  13.738000 -89.292000
2         5844381  4670424  13.702000 -89.208000
3         5844383  4670424  13.400000 -89.750000
4         5844388  4670424  12.850000 -88.000000
...           ...      ...        ...        ...
556388  136672179  5239183   3.450000 -76.533333
556389  136672180   104468  30.815839  45.996069
556390  136672181   968281  46.953333   6.256944
556391  136672182    79985  45.109659   7.641221
556392  136672183   872296  15.425675 -90.326285

[556393 rows x 4 columns]

In [4]:
geo.id.value_counts()

7636249    1480
7421943    1424
9528315    1407
7808354    1396
8329856    1394
           ...
7285597       1
5820234       1
1020746       1
3113800       1
7344126       1
Name: id, Length: 371411, dtype: int64

In [5]:
geo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 556393 entries, 0 to 556392
Data columns (total 4 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   gt_id   556393 non-null  int64
 1   id      556393 non-null  int64
 2   gt_lat  556393 non-null  float64
 3   gt_lon  556393 non-null  float64
dtypes: float64(2), int64(2)
memory usage: 17.0 MB

In [6]:
geo.isnull().sum()

gt_id     0
id        0
gt_lat    0
gt_lon    0
dtype: int64

El dataFrame Geo, que tiene la información adquirida de geo_tags.csv, ya esta listo para ser utilizado.

In [7]:
contenido = pd.read_csv('contents.csv',\
                    usecols= ['title', 'id'])

In [8]:
contenido

                                                     title        id
0                          Wikipedia:Artículos solicitados         5
1                                                  Andorra         7
2                                                Argentina        10
3                                     Geografía de Andorra        15
4                                    Demografía de Andorra        17
...                                                    ...       ...
4132159                                    Cruz nestoriana  10010593
4132160  Manifestación del orgullo gay de 1977 en Barce...  10010595
4132161                                         Rocasaurus  10010596
4132162  Medalla Conmemorativa del 50.º Aniversario de ...  10010598
4132163                                           Fatikroy  10010600

[4132164 rows x 2 columns]

In [9]:
contenido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132164 entries, 0 to 4132163
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   title   object
 1   id      int64
dtypes: int64(1), object(1)
memory usage: 63.1+ MB

In [10]:
contenido.isnull().sum()

title    4
id       0
dtype: int64

In [11]:
contenido.fillna('Desconocido',inplace=True)

In [12]:
contenido.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4132164 entries, 0 to 4132163
Data columns (total 2 columns):
 #   Column  Dtype
---  ------  -----
 0   title   object
 1   id      int64
dtypes: int64(1), object(1)
memory usage: 63.1+ MB

In [13]:
contenido.isnull().sum()

title    0
id       0
dtype: int64

El dataFrame contenido, que tiene la información adquirida de contents.csv, ya esta listo para ser utilizado.

In [14]:
#Realizo un join entre los dos DataFrames para lograr encontrar la información buscada.
dfMerge = contenido.merge(geo)
dfMerge

                       title        id      gt_id     gt_lat      gt_lon
0                    Andorra         7  136647726  42.500000    1.500000
1                  Argentina        10  136659367 -34.599722  -58.381944
2       Geografía de Andorra        15  136554916  42.506111    1.522222
3                     Anoeta        26  135690881  43.162222   -2.070000
4                 Afganistán        39  136670287  34.532778   69.165833
...                      ...       ...        ...        ...         ...
537300             Kumarghat  10010550  136660467  24.158333   92.029722
537301          Río Makarora  10010559  136660494 -44.316667  169.166667
537302             Panisagar  10010567  136660596  24.250000   92.140000
537303             Dewanpasa  10010581  136661632  24.360639   92.139850
537304              Fatikroy  10010600  136663385  24.010639   92.001289

[537305 rows x 5 columns]

Libero el espacio de la RAM que ocupan los dos dataFrames que no estoy utilizando.

In [15]:
del contenido

In [16]:
del geo

In [17]:
dfMerge.id.value_counts()

7421943    1424
8329856    1394
3819860    1082
9649160     940
7553129     924
           ...
4768672       1
1645467       1
9003924       1
4428705       1
7344126       1
Name: id, Length: 370733, dtype: int64

In [18]:
type(dfMerge.id.value_counts())

pandas.core.series.Series

In [19]:
segundoID = dfMerge.id.value_counts().index[1]
segundoID

8329856

In [20]:
dfMerge = dfMerge[dfMerge.id==segundoID]

In [21]:
dfMerge = dfMerge[['title','id']]

### Resultado

Finalmente, el titulo más buscado (y su ID) es el siguiente:

In [22]:
dfMerge.iloc[0]

title    Wikiproyecto:Madrid/Artículos/Wikidata
id                                      8329856
Name: 439299, dtype: object